
.blogs {
  width: 740px;
  margin: 0 auto;
  position: relative;
  .blog-post {
     list-style: none;
     display: block;
     li {
       display: inline-block;
       margin: 5px;
       border: 1px solid $black;
       position: relative;
       background: $gray;

       p {
          text-align: center;
       }

       .cta {
          color: $white;
          background-color: $black;
          font-size: 16px;
          padding: 5px;
          display: block;
          text-align: center;
          margin-top: 15px;
          text-decoration: none;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $white;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }

          &:hover {
             &::before {
                 visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
             }
          }
       }
     }

     .blog-1 {
        transform: translateX(100px);
     }

     .blog-2 {
        z-index: 1;
     }

     .blog-3 {
        transform: translateX(-100px);
     }
  }
}
