
@import "variables";
@import "image-grid";
@import "promo-scope";
@import "blog-post";
@import "footer";

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
    }

    figure {
      margin:0;
    }
    header {
       position: relative;
       height: 600px;
       background-image: url("/images/bird-bg.jpg");
        background-attachment: fixed;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 600px;
        overflow: hidden;

       .logo {
          width: 100%;
          height: 100px;
          background: url('/images/logo.svg') no-repeat center;
          position: absolute;
          top:50%;
          margin-top: -50px;
       }

       .back-bird {
          width: 960px;
          height: 298px;
          position: absolute;
          background: url('/images/back-bird.png') no-repeat top left;
          left: 50%;
          margin-left: -480px;
       }

       .fore-bird {
           width: 960px;
           height: 733px;
           background: url('/images/fore-bird.png') no-repeat right bottom;
           position: absolute;
           left: 50%;
            margin-left: -480px;
            top: 380px;
       }
    }

    .content {
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      background: white;
      z-index: 2;
      margin-bottom: 400px;

      h1 {
         font-size: 40px;
         font-weight: lighter;
      }

      article {
        padding: 100px 0;
        max-width: 640px;
        margin: 0 auto;
        text-align: center;
      }

      .container {
         width:80%;
         margin : 0 auto;
      }
    }
}
